{{ define "content" }}
<section class="100days">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <div class="content">
      {{ .Content }}
    </div>

    {{ if .Sections }}
      <div class="subdirectories">
        {{ range .Sections }}
          <div class="subdirectory">
		<li><a href="{{ .Permalink }}">{{ .Title }}</a>: {{ .Description }}</li>
          </div>
        {{ end }}
      </div>
    {{ else }}
      <div class="posts">
	  {{ range sort .Pages "Date" "asc" }}
          <article class="post-summary">
		  <li><span>{{ .Date.Format "January 2, 2006" }}</span>: <a href="{{ .Permalink }}">{{ .Title }}</a></li>
          </article>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
{{ end }}
